<h1>Page#main</h1>
<p>Find me in app/views/page/main.html.erb</p>

<div class="well">
  <%= simple_form_for @image do |f| %>
    <%= f.attachment_field :photo %>

    <%= f.button :submit, "Upload", class: "btn btn-sm" %>
  <% end %>
</div>

<% @images.each do |image| %>
  <%= image_tag attachment_url(image, :photo) %>
<% end %>

<%= react_component ('Gallery') %>
